html{
  scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(15, 14, 14);
    color: white;
    text-transform: capitalize;
}
li{
  list-style: none !important;
}
p{
  letter-spacing: 1px;
}
hr{
  color: rgb(221, 219, 219);
  background-color: #e1e6e6;
 
}
a{
  text-decoration: none !important;
  color: #e1e6e6;
}
#services{
  /* height: 100vh; */
}
h1,h2{
  padding: 1rem;
  /* border-bottom: 1px solid rgb(8,245,28); */
  /* margin: 2rem; */
}
.mm{
  color: rgb(8, 245, 28);
}
/* ------navigation------ */
label {
    color: black;
    /* font-family: cursive; */
  }
  nav {
    height: 70px;
    padding: 0;
    margin: 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 15px 0px 15px;}
  nav ul {
    display: flex;
    list-style: none;
    z-index: 10;
  }
  nav ul li {
    margin: 0px 5px;
  }
  nav ul li a {
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    /* background-color: white; */
    padding: 8px 10px;
    border-radius: 5px;
  }
  .main2 {
    background-color: #e6f2b5 !important;
    /* border: 1px solid black; */
  }
  
  nav ul li a:hover,
  nav ul li a.active {
    /* background-color: #f2f8f7; */
    color: rgb(8, 245, 28);
    transition: 0.7s;
    text-decoration: none;
  }
  nav .logo {
    font-size: 33px;
    color: white !important;
    font-weight: 600;
    font-family: "Tillana", cursive;
  }
  .menu-btn {
    display: none;
  }
  #click {
    display: none !important;
  }

#home-page {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./images/Screenshot\ (113).png");
    /* background: linear-gradient((rgba(0,0,0,.6),rgba(22, 22, 22, 0.6),url(guitar.jpg)); */
  
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
#bottom{
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
  url("./images/ambitious-creative-co-rick-barrett-uwk8IS-HfJ8-unsplash.jpg");
  background-position: center !important;
  background-size: cover;

  width: 100%;


  
}
 

  
  .title-box{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10rem;
  }
  .title-text{
      font-size: 3rem;
      font-weight: bolder;
      line-height: 3rem;
     

  }
  .bt input{
      padding: 8px;
      width: 8rem;
      background-color: rgb(8, 245, 28);
      border: none;
      font-size: 18px;
      text-transform: capitalize;
      font-weight: bold;
      color: black;

      

  }
  .name1{
      display: flex;
      justify-content: right;
      padding-right: 5rem;
  }
  /* ---------media----- */
  @media (max-width: 900px) {
    nav{
      background-color:rgb(15, 15, 15) ;
      /* scroll-behavior: none; */
      padding-left: 40px;
      padding-bottom: 12px;
  
      
      /* position: fixed; */
    }
    nav ul {
      position: fixed;
      top: 64px;
      left: -100%;
      background: rgb(8, 8, 8);
      height: 100vh;
      width: 100%;
      display: block;
      text-align: center;
      transition: all 0.3s ease;
      z-index: 2;
    }
  
    .logo {
      padding-left: 0px;
      margin-left: -25px;
    }
  
    #click:checked ~ ul {
      left: 0;
      background: rgb(34, 33, 33);
  
    }
    ul li {
      list-style: none;

      
    }
    ul li a{
      text-decoration: none;
    }
    nav ul li {
      margin: 30px 0px;
    }
    nav ul li a {
      font-size: 21px;
      display: block;
    }
    nav ul li a:hover,
    nav ul li a.active {
      background: none;
      color: rgb(8, 245, 28);
      transition: 0.7s;
    }
    .menu-btn {
        font-size: 29px;
        color: #f5f8f8;
        display: block;
        /* margin-left: 2rem !important; */
        padding: 0px;
      }
      .box{
        margin: 2rem !important;
      }
      h1,h2{
        text-align: center;
      }
}
/* ......................about............... */
#about{
  /* height: 100vh; */
}
.about-image img{
  width: 100%;
  height: auto;
  margin-top: 2rem;
  /* border: 10px solid rgb(0, 255, 21); */
  /* border-bottom: 2px solid  rgb(8, 245, 28) ; */
  /* border-top: 2px solid rgb(8, 245, 28) ; */
  /* border-width: 1rem; */
  
}
.box{
  border: 1px solid rgb(0, 255, 21);
  text-align: center;
  padding: 1rem;
  height: 10rem;

}
.box:hover{
  border: white;
  background-color: green;
  /* color: white; */
}
.fas{
  color: white;
  font-size: 4rem;
}
.fab{
  font-size: 2rem;
  margin: 1rem;
}
.icon{
  text-align: center;
  line-height: .1rem !important;
  
}